QLabel#savePathLabel, QLabel#pollingRateLabel, QLabel#imagesLabel, QLabel#outputSettingsLabel, QLabel#advancedSettingsLabel {
    font-weight: bold;
}

QLabel#imagesInfoLabel, QLabel#textLogInfoLabel, QLabel#textLogInfo1Label, QLabel#textLogInfo2Label, QLabel#textLogInfo3Label {
    color: green;
}

QCheckBox#saveAllImagesCheckbox {
    font-style: italic;
}

QLabel#aboutTextLabel1 {
    font-weight: bold;
}
